footer {
    display: flex;
    gap: 24px;
    padding-block: 24px;

    font: 14px/150% var(--font-family);
}

footer div {
    display: flex;
    gap: 20px;
}

@media (max-width: 375px) {
    footer {
        flex-direction: column;
    }
}